/* For use in src/lib/core/theming/_palette.scss */
$mat-secondary: (
    50 : #f8fbf3,
    100 : #eef6e2,
    200 : #e2f0ce,
    300 : #d6e9ba,
    400 : #cee5ac,
    500 : #c5e09d,
    600 : #bfdc95,
    700 : #b8d88b,
    800 : #b0d381,
    900 : #a3cb6f,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f1ffdf,
    A700 : #e6ffc5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-primary: (
    50 : #eff7e1,
    100 : #d8ebb3,
    200 : #bedd81,
    300 : #a4cf4e,
    400 : #91c528,
    500 : #7dbb02,
    600 : #75b502,
    700 : #6aac01,
    800 : #60a401,
    900 : #4d9601,
    A100 : #ddffc1,
    A200 : #c0ff8e,
    A400 : #a4ff5b,
    A700 : #96ff41,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

